include ../blocks/icons/icons.pug
include ../blocks/header/header.pug
include ../blocks/banner/banner.pug
include ../blocks/aboutUs/aboutUs.pug
include ../blocks/advantages/advantages.pug
include ../blocks/available-objects/available-objects.pug
include ../blocks/video-objects/video-objects.pug
include ../blocks/reviews/reviews.pug
include ../blocks/contentBlock-address/contentBlock-address.pug
include ../blocks/contentBlock-office/contentBlock-office.pug
include ../blocks/feedback/feedback.pug
include ../blocks/contentBlock-feedbackForm/contentBlock-feedbackForm.pug
include ../blocks/footer/footer.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/discounts/discounts.pug
include ../blocks/map/map.pug
include ../blocks/choice/choice.pug
include ../blocks/history/history.pug
include ../blocks/premises/premises.pug
include ../blocks/pagination/pagination.pug
include ../blocks/office-info/office-info.pug
include ../blocks/pbt-list/pbt-list.pug
include ../blocks/pbt-listIcon/pbt-listIcon.pug
include ../blocks/pbt-table/pbt-table.pug
