extends ../templates/template.pug
block head
  +head('АРЕНДА ПОМЕЩЕНИЙ ДЛЯ ОБРАЗОВАНИЯ')
block content
  - 
    var contentHeader= {
      contentPage: [
         {
          text: 'Главная',
          href: '/index.html',
        },
        {
          text: 'Информация',
          href: '/info.html',
        },
        {
          text: 'Помещения',
          href: '/premises.html',
        },
        {
          text: 'Акции',
          href: '/discounts.html',
          active: true,
        },
        {
          text: 'Контакты',
          href: './contacts.html',
        }
      ],
    };
    var breadcrumbsContent = [
      {
        text :'Главная',
        href: 'index.html',
      },
      {
        text: 'Акции',
        href: '#',
      },
    ];
    var discountContent= {
      title: 'АКЦИИ',
      elem: [
        {
          title: 'Сократите количество контактов — арендуйте онлайн',
          from: '23.06.2020',
          to: '01.08.2020',
          text: 'Посмотрите любое помещение, не покидая собственного дома. Запишитесь на просмотр, не забудьте сообщить специалисту колл-центра, что вы хотите сделать это онлайн. Выберите удобное время, менеджер будет на связи, покажет и расскажет о помещении всё, что хотите знать. Подписать договор через систему электронного документооборота - это просто. Достаточно иметь цифровую подпись, все приготовления и подписание займут не более 40 минут',
          note: '*Специалисты колл-центра готовы ответить на вопросы и записать на онлайн просмотр.',
          img: './img/discount.jpg',
        },
        {
          title: 'Сократите количество контактов — арендуйте онлайн',
          from: '23.06.2020',
          to: '01.08.2020',
          text: 'Посмотрите любое помещение, не покидая собственного дома. Запишитесь на просмотр, не забудьте сообщить специалисту колл-центра, что вы хотите сделать это онлайн. Выберите удобное время, менеджер будет на связи, покажет и расскажет о помещении всё, что хотите знать. Подписать договор через систему электронного документооборота - это просто. Достаточно иметь цифровую подпись, все приготовления и подписание займут не более 40 минут',
          note: '*Специалисты колл-центра готовы ответить на вопросы и записать на онлайн просмотр.',
          img: './img/discount.jpg',
        },
        {
          title: 'Сократите количество контактов — арендуйте онлайн',
          from: '23.06.2020',
          to: '01.08.2020',
          text: 'Посмотрите любое помещение, не покидая собственного дома. Запишитесь на просмотр, не забудьте сообщить специалисту колл-центра, что вы хотите сделать это онлайн. Выберите удобное время, менеджер будет на связи, покажет и расскажет о помещении всё, что хотите знать. Подписать договор через систему электронного документооборота - это просто. Достаточно иметь цифровую подпись, все приготовления и подписание займут не более 40 минут',
          note: '*Специалисты колл-центра готовы ответить на вопросы и записать на онлайн просмотр.',
          img: './img/discount.jpg',
        },
      ]
    };
    var contentFeedback = {
      img: {
         imgLeft: './img/feedback-left.jpg',
      },
      title: 'СВЯЗАТЬСЯ С НАШЕЙ КОМПАНИЕЙ',
    };
    var contentMap = {
       address:{
        title: 'Офис продаж',
        place: 'Санкт-Петербург',
        phone: '999-88-88',
        time: 'с 9 до 18',
      },
    }

  +header(contentHeader)
  +breadcrumbs(breadcrumbsContent)
  +discounts(discountContent)
  +feedback(contentFeedback)
  +map(contentMap)
  +footer