extends ../templates/template.pug
block head
  +head('БЦ Черная Речка')
block content
  - 
    var contentHeader= {
      contentPage: [
         {
          text: 'Главная',
          href: '/index.html',
          active: true,
        },
        {
          text: 'Информация',
          href: '/info.html',
        },
        {
          text: 'Помещения',
          href: '/premises.html',
        },
        {
          text: 'Акции',
          href: '/discounts.html',
        },
        {
          text: 'Контакты',
          href: './contacts.html',
        }
      ],
    };
    var contentBanner = {
      img: './img/bannerBg-big.jpg',
      title: 'АРЕНДА ПОМЕЩЕНИЙ ДЛЯ ОБРАЗОВАНИЯ',
      price: '22000',
      //- promo: {
      //-   text: 'Назовите оператору контакт центра при звонке ваш',
      //-   code: '168',
      //- },
      advantage: {
        title: 'БЕЗОПАСНАЯ АРЕНДА',
        text: 'Онлайн просмотры и договор с цифровой подписью',
      }
    };
    var contentAboutUs= {
      imgList: [
        './img/aboutUs-1.jpg',
        './img/aboutUs-2.jpg',
        './img/aboutUs-3.jpg',
      ],
      title: 'О НАС',
      text: 'У бизнес-центра развитая инфраструктура: кафе, рестораны, заправочная станция, продуктовые магазины. Удобное транспортное сообщение, как для пешеходов, так и для автомобилистов. Неподалеку от бизнес-центра находится остановка общественного транспорта, а всего в 12 минутах ходьбы - станция метро “Чёрная Речка“.',
    };
    var contentAdvantage= {
      title: 'ПОЧЕМУ СТОИТ ОБРАТИТЬСЯ К НАМ',
      items: [
        {
          icon: 'newspaper',
          text: 'КОМФОРТНЫЕ УСЛОВИЯ'
        },
        {
          icon: 'presentation',
          text: 'ВЫСОКИЕ ПОТОЛКИ'
        },
        {
          icon: 'internet',
          text: 'ДОСТУП В ИНТЕРНЕТ'
        },
        {
          icon: 'globe',
          text: 'ДОСТУПНОСТЬ ОТ МЕТРО'
        },
      ]
    };
    var contentAvailable= {
      title: 'ДОСТУПНЫЕ ВАРИАНТЫ',
      elem: [
        {
          id: '018543',
          square: '19',
          floor: '2',
          class: 'B',
          price: '22 560',
          img: './img/office.jpg',
        },
        {
          id: '018543',
          square: '19',
          floor: '2',
          class: 'B',
          price: '22 560',
          img: './img/office.jpg',
        },
        {
          id: '018543',
          square: '19',
          floor: '2',
          class: 'B',
          price: '22 560',
          img: './img/office.jpg',
        },
        {
          id: '018543',
          square: '19',
          floor: '2',
          class: 'B',
          price: '22 560',
          img: './img/office.jpg',
        },
        {
          id: '018543',
          square: '19',
          floor: '2',
          class: 'B',
          price: '22 560',
          img: './img/office.jpg',
        },
        {
          id: '018543',
          square: '19',
          floor: '2',
          class: 'B',
          price: '22 560',
          img: './img/office.jpg',
        },
        {
          id: '018543',
          square: '19',
          floor: '2',
          class: 'B',
          price: '22 560',
          img: './img/office.jpg',
        },
      ]
    };
    var contentVideo= {
      title: 'Видео объекта',
      elem: [
        {
          title: 'Общий вид помещений',
          text: 'У бизнес-центра развитая инфраструктура: кафе, рестораны, заправочная станция, продуктовые магазины. Удобное транспортное сообщение, как для пешеходов, так и для автомобилистов. Неподалеку от бизнес-центра находится остановка общественного транспорта, а всего в 12 минутах ходьбы - станция метро “Чёрная Речка“.',
          video: './img/video-objects.jpg',
        },
        {
          title: 'Общий вид помещений',
          text: 'У бизнес-центра развитая инфраструктура: кафе, рестораны, заправочная станция, продуктовые магазины. Удобное транспортное сообщение, как для пешеходов, так и для автомобилистов. Неподалеку от бизнес-центра находится остановка общественного транспорта, а всего в 12 минутах ходьбы - станция метро “Чёрная Речка“.',
          video: './img/video-objects.jpg',
        },
        {
          title: 'Общий вид помещений',
          text: 'У бизнес-центра развитая инфраструктура: кафе, рестораны, заправочная станция, продуктовые магазины. Удобное транспортное сообщение, как для пешеходов, так и для автомобилистов. Неподалеку от бизнес-центра находится остановка общественного транспорта, а всего в 12 минутах ходьбы - станция метро “Чёрная Речка“.',
          video: './img/video-objects.jpg',
        },
      ],
    }
    var contentReviews= {
      title: 'ОТЗЫВЫ КЛИЕНТОВ',
      elem: [
        {
          img: './img/reviews-1.jpg',
          text: 'У бизнес-центра развитая инфраструктура: кафе, рестораны, заправочная станция, продуктовые магазины. '
        },
        {
          img: './img/reviews-1.jpg',
          text: 'У бизнес-центра развитая инфраструктура: кафе, рестораны, заправочная станция, продуктовые магазины. '
        },
        {
          img: './img/reviews-1.jpg',
          text: 'У бизнес-центра развитая инфраструктура: кафе, рестораны, заправочная станция, продуктовые магазины. '
        },
        {
          img: './img/reviews-2.jpg',
          text: 'У бизнес-центра развитая инфраструктура: кафе, рестораны, заправочная станция, продуктовые магазины. '
        },
      ]
    };
    var contentFeedback = {
      address:{
        title: 'Офис продаж',
        place: 'Санкт-Петербург',
        phone: '999-88-88',
        time: 'с 9 до 18',
      },
    };
  +header(contentHeader)
  +banner(contentBanner)
  +aboutUs(contentAboutUs)
  +advantages(contentAdvantage)
  +available-objects(contentAvailable)
  +video-objects(contentVideo)
  +reviews(contentReviews)
  +feedback(contentFeedback)
  +footer