extends ../templates/template.pug
block head
  +head('АРЕНДА ПОМЕЩЕНИЙ ДЛЯ ОБРАЗОВАНИЯ')
block content
  - 
    var contentHeader= {
      contentPage: [
         {
          text: 'Главная',
          href: '/index.html',
        },
        {
          text: 'Информация',
          href: '/info.html',
          active: true,
        },
        {
          text: 'Помещения',
          href: '/premises.html',
        },
        {
          text: 'Акции',
          href: '/discounts.html',
        },
        {
          text: 'Контакты',
          href: './contacts.html',
        }
      ],
    };
    var breadcrumbsContent = [
      {
        text :'Главная',
        href: 'index.html',
      },
      {
        text: 'Информация',
        href: '#',
      },
    ];
    var contentChoice = {
      title: 'БОЛЬШОЙ ВЫБОР ПОМЕЩЕНИЙ',
      elem: [
        {
          text: 'У бизнес-центра развитая инфраструктура: кафе, рестораны, заправочная станция, продуктовые магазины.',
          img: './img/choice_1.jpg'
        },
        {
          text: 'У бизнес-центра развитая инфраструктура: кафе, рестораны, заправочная станция, продуктовые магазины.',
          img: './img/choice_2.jpg'
        },
        {
          text: 'У бизнес-центра развитая инфраструктура: кафе, рестораны, заправочная станция, продуктовые магазины.',
          img: './img/choice_3.jpg'
        },
      ]
    };
    var contentFeedback = {
      img: {
         imgLeft: './img/feedback-left.jpg',
      },
      title: 'СВЯЗАТЬСЯ С НАШЕЙ КОМПАНИЕЙ',
    };
    var contentHistory = {
      title: 'НЕМНОГО НАШЕЙ ИСТОРИИ',
      text: 'У бизнес-центра развитая инфраструктура: кафе, рестораны, заправочная станция, продуктовые магазины. Удобное транспортное сообщение, как для пешеходов, так и для автомобилистов. Неподалеку от бизнес-центра находится остановка общественного транспорта, а всего в 12 минутах ходьбы - станция метро “Чёрная Речка“.У бизнес-центра развитая инфраструктура: кафе, рестораны, заправочная станция, продуктовые магазины. Удобное транспортное сообщение, как для пешеходов, так и для автомобилистов. Неподалеку от бизнес-центра находится остановка общественного транспорта, а всего в 12 минутах ходьбы - станция метро “Чёрная Речка“.',
    };
    var contentMap = {
       address:{
        title: 'Офис продаж',
        place: 'Санкт-Петербург',
        phone: '999-88-88',
        time: 'с 9 до 18',
      },
    }

  +header(contentHeader)
  +breadcrumbs(breadcrumbsContent)
  +choice(contentChoice)
  +feedback(contentFeedback)
  +history(contentHistory)
  +map(contentMap)
  +footer